$black-1: #000;
$white-1: rgba(255, 255, 255, 0.9);
$white-2: rgba(255, 255, 255, 0.8);
$white-3: #fff;
$shadow-1: rgba(0, 0, 0, 0.25);
$shadow-2: rgba(91, 167, 43, 0.7);
$shadow-3: rgba(0, 0, 0, 0.5);
$blue-1: rgba(116, 207, 252, 1);
$blue-2: rgba(182, 231, 255, 1);
$yellow-1: #f5ba22;
$yellow-2: linear-gradient(to bottom, #f8d258, #f0b700);
$brown-1: rgba(176, 97, 76, 1);
$brown-2: rgba(255, 238, 225, 1);
$brown-3: linear-gradient(#fff, #af6c3e);
$green-1: rgba(168, 207, 56, 0.5);
$green-2: #5ba72b;
$green-3: rgba(91, 167, 43, 0.3);
$green-4: rgba(18, 171, 15, 1);
$oranger-1: #fdc927;
$purple-1: #755ecc;
$grey-1:#dfd7ff;
$overlay: rgba(0, 0, 0, 0.6);
